.full_page {
    width: 388px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-left: 94px;
    margin-bottom: 10px;
}

/*---------------------------Reservation------------------------------------------*/
.reservation {
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

.reservation h1 {
    font-size: 28px;
}

.reservation h2 {
    font-size: 21px;
    margin: 0px;
}

.bouton_reserv {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    width: 250px;
    margin: auto;
}

.city_holder {
    background-color: #eaeaea;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 2px 1px 0px rgba(53, 53, 53, 0.2);
}

.city_holder p {
    margin: 0px;
}

.fa-location-dot {
    position: relative;
    left: -20px;
    color: #353535
}

.intro_text {
    text-align: center;
    width: 280px;
    margin: auto;
}

/*--------------------------------------------------------------------------------*/

/*---------------------------Navigation-------------------------------------------*/
nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-top: 20px;
}

nav h1 {
    font-size: 28px;
    margin: 0px 0px 20px 14px;
}

nav h2 {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    text-align: center;
    background-color: #f6f6f6;
    color: black;
    display: block;
    width: 360px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 14px;
}

nav a:hover {
    background-color: #F5EDFF;
}

nav a:hover .bouton_icon {
    color: #9356DC;
}

.bouton_wrapper {
    display: flex;
}

.bouton_number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #9356DC;
    text-align: center;
    line-height: 35px;
    position: relative;
    left: -15px;
    top: 15px;
}

.bouton_icon {
    color: #7e7e7e;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    position: relative;
    left: 10px;
}

.bouton_txt {
    text-align: center;
    position: relative;
    left: 30px;
}

/*--------------------------------------------------------------------------------*/

/*-----------------------Cartes Restaurants---------------------------------------*/
.liste_restaurants {
    background-color: #f6f6f6;
    padding-bottom: 40px;
    padding-top: 40px;
}

.liste_restaurants h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 14px;
    font-size: 28px;
}

.all_cards {
    display: flex;
    flex-direction: column;
}

.card_restau {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 360px;
    height: 250px;
    margin: 0px 0px 20px 14px;
    text-decoration: none;
    color: black;
}

.card_img {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.bloc_new {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #99e2d0;
    padding: 5px 10px 5px 10px;
}

.bloc_new h1 {
    margin: 0px;
    font-size: 20px;
    color: #008766;
}

.bloc_leg {
    display: flex;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    height: 75px;
    position: relative;
}

.bloc_leg h2 {
    font-size: 21px;
    font-weight: bolder;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

.bloc_leg h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

.card_txt {
    width: 200px;
}

.coeur {
    width: 160px;
    text-align: right;
    color: black;
    font-size: 24px;
    position: absolute;
    right: 20px;
}

.coeur_selected {
    width: 160px;
    text-align: right;
    font-size: 26px;
    position: absolute;
    right: 19px;
    bottom: -6px;
    opacity: 0;
}

.fa_gradient {
    font-size: 26px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
}

.coeur_selected:hover {
    opacity: 1;
}

/*--------------------------------------------------------------------------------*/

/*-----------------------------Footer---------------------------------------------*/
.pied_page {
    background-color: #353535;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pied_page h2 {
    color: white;
    font-family: 'Shrikhand', sans-serif;
    font-size: 21px;
    font-weight: bolder;
    margin: 0px 0px 0px 14px;
}

.navfootitem {
    list-style-type: none;
    padding: 0px;
}

.navfootitem a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-left: 14px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------------------------*/