*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

body {
  font-family: "Roboto", sans-serif;
  color: hsl(0deg, 0%, 0%);
  font-size: 1.6rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h2.h1size {
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
}

h3,
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

@-webkit-keyframes slidingmenus {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes slidingmenus {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}
.sliding-menu {
  transform: translateY(100vh);
  opacity: 0;
  -webkit-animation: slidingmenus 2000ms 0s ease-out forwards 1;
          animation: slidingmenus 2000ms 0s ease-out forwards 1;
}
.sliding-menu--1 {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.sliding-menu--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.sliding-menu--3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.sliding-menu--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.sliding-menu--5 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.sliding-menu--6 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.sliding-menu--7 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.sliding-menu--8 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.sliding-menu--9 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.sliding-menu--10 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.sliding-menu--11 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.sliding-menu--12 {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}
.sliding-menu--13 {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
.sliding-menu--14 {
  -webkit-animation-delay: 2600ms;
          animation-delay: 2600ms;
}

.cards-wrp {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .cards-wrp {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.card-restau {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 90%;
  height: 25rem;
  margin: 0 auto 2rem auto;
}
.card-restau__img {
  width: 100%;
  height: 17.5rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}
.card-restau__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.card-restau__img .bloc-new {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background-color: hsl(165deg, 56%, 74%);
  padding: 0.5rem 1rem;
}
.card-restau__img .bloc-new h2 {
  color: hsl(165deg, 100%, 26%);
}
.card-restau__legende {
  display: flex;
  width: 100%;
  height: 7.5rem;
  border-radius: 0 0 2rem 2rem;
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
}
.card-restau__legende h2 {
  font-weight: bolder;
  padding: 1rem 0 0 1rem;
}
.card-restau__legende h3 {
  font-weight: normal;
  padding: 1rem 0 0 1rem;
}
.card-restau__legende .card-txt {
  width: 80%;
}
.card-restau__legende .coeur {
  width: 20%;
  text-align: right;
  font-size: 2.8rem;
  line-height: 7.5rem;
  position: absolute;
  right: 2rem;
}
.card-restau__legende .coeur:hover .fa-grad {
  transform: scale(1);
}
.card-restau__legende .coeur .fa-grad {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, hsl(267deg, 66%, 60%), hsl(317deg, 100%, 74%));
  /*transform-origin: bottom;*/
  transform: scale(0);
  transition: transform 500ms ease-in-out;
}
@media screen and (min-width: 1024px) {
  .card-restau {
    width: 30%;
    /*min-width: 40rem;*/
    margin: 0 3rem 2rem 0;
  }
}

/*-----------------------------Spinner---------------------------------------------*/
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cache {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes cache {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.spinner {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  font-weight: bolder;
  color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  border-top: 1.6rem solid hsl(165deg, 56%, 74%);
  border-bottom: 1.6rem solid hsl(165deg, 56%, 74%);
  border-left: 1.6rem solid hsl(165deg, 56%, 85%);
  border-right: 1.6rem solid hsl(165deg, 56%, 85%);
  background: radial-gradient(hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  width: 15.2rem;
  height: 15.2rem;
  line-height: 12rem;
  text-align: center;
  position: fixed;
  top: calc(50% - 7.6rem);
  left: calc(50% - 7.6rem);
  animation: spin 1000ms linear 2, cache 0s 2100ms linear reverse both;
}

.full-page.hidethis {
  -webkit-animation: cache 0s 2100ms linear 1 both;
          animation: cache 0s 2100ms linear 1 both;
}

input[type=search] {
  border: none;
  font-size: 1.6rem;
  position: relative;
  right: -2.2rem;
  background-color: hsl(0deg, 0%, 92%);
}

.full-page {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.logo-wrp {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
}

.logo-box {
  width: 50%;
  height: 7rem;
  margin: 2rem auto;
}
.logo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__back {
  position: absolute;
  font-size: 2.8rem;
  margin: 2rem 0;
  line-height: 7rem;
  left: 3rem;
}

.footer {
  background-color: hsl(0deg, 0%, 21%);
  padding: 1rem 0;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  color: hsl(0deg, 0%, 100%);
  font-weight: bolder;
  width: 90%;
  margin: 0 auto 1rem auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    padding: 2rem 5%;
  }
  .footer h2 {
    width: 20%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    padding: 2rem 5%;
  }
  .footer h2 {
    width: 20%;
    margin: 0 auto;
  }
}

.navfoot {
  width: 90%;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navfoot {
    width: 80%;
    text-align: right;
    -moz-text-align-last: right;
         text-align-last: right;
  }
}
@media screen and (min-width: 1024px) {
  .navfoot {
    width: 80%;
  }
}

.foot-items {
  list-style-type: none;
}
.foot-items span {
  margin: 0 1rem 0 0;
}
.foot-items__link {
  color: hsl(0deg, 0%, 100%);
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .foot-items {
    display: flex;
    justify-content: right;
  }
  .foot-items__link {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .foot-items {
    display: flex;
    justify-content: right;
  }
  .foot-items__link {
    margin: 0 2rem;
  }
}

/*---------------------------Reservation------------------------------------------*/
.reservation {
  background-color: hsl(0deg, 0%, 96%);
  padding: 0 0 4rem 0;
}
.reservation__ville {
  background-color: hsl(0deg, 0%, 92%);
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.reservation__ville .fa-location-dot {
  position: relative;
  right: -1.2rem;
  color: hsl(0deg, 0%, 21%);
}
.reservation__texte {
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  width: 28rem;
  margin: 0 auto 0 auto;
}
.reservation__texte h1 {
  margin: 2rem 0 1rem 0;
}
.reservation__texte p {
  margin: 0 0 2rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .reservation__texte {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .reservation__texte {
    width: 90%;
  }
}
.reservation__bouton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  display: block;
  border-radius: 2rem;
  padding: 1rem;
  width: 28rem;
  height: 5rem;
  line-height: 3rem;
  margin: 0 auto;
  transition: all 500ms;
}
.reservation__bouton:hover {
  background: linear-gradient(to bottom right, #ffade8, #ad80e5);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .reservation__bouton {
    width: 48rem;
  }
}
@media screen and (min-width: 1024px) {
  .reservation__bouton {
    width: 48rem;
  }
}

/*--------------------------------------------------------------------------------*/
/*---------------------------Navigation-------------------------------------------*/
.nav-accueil {
  padding: 0 0 4rem 0;
  margin: 2rem 0 0 0;
}
.nav-accueil h2.h1size {
  width: 90%;
  margin: 0 auto 2rem auto;
}
@media screen and (min-width: 1024px) {
  .nav-accueil {
    width: 90%;
    margin: 2rem auto;
  }
  .nav-accueil h2.h1size {
    width: 100%;
    margin: 0;
  }
}

.boutons-wrp {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .boutons-wrp {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.bouton-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: hsl(0deg, 0%, 96%);
  display: block;
  width: 100%;
  height: 6rem;
  border-radius: 2rem;
  margin: 0 auto 2rem 0;
}
.bouton-nav:hover {
  background-color: hsl(267deg, 100%, 96%);
}
.bouton-nav:hover .bouton-nav__icone {
  color: hsl(267deg, 66%, 60%);
}
.bouton-nav__wrp {
  display: flex;
}
.bouton-nav__numero {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(267deg, 66%, 60%);
  text-align: center;
  line-height: 3rem;
  position: relative;
  left: -1.5rem;
  top: 1.5rem;
}
.bouton-nav__icone {
  color: hsl(0deg, 0%, 49%);
  text-align: center;
  font-size: 2rem;
  line-height: 6rem;
  position: relative;
  left: 1rem;
}
.bouton-nav__texte {
  text-align: center;
  line-height: 6rem;
  position: relative;
  left: 3rem;
}
@media screen and (min-width: 1024px) {
  .bouton-nav {
    width: 30%;
    min-width: 32rem;
    margin: 2rem 3rem 0 0;
  }
}

/*--------------------------------------------------------------------------------*/
/*---------------------------Liste des restaurants--------------------------------*/
.restau-list {
  background-color: hsl(0deg, 0%, 96%);
  padding: 4rem 0;
}
.restau-list h2.h1size {
  width: 90%;
  margin: 0 auto 2rem auto;
}

/*--------------------------------------------------------------------------------*/
.img-restau {
  width: 100%;
  height: 20rem;
}
.img-restau img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-origin: top;
  transform: scaleY(1.2);
  z-index: -1;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img-restau {
    height: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .img-restau {
    height: 30rem;
  }
}

.full-menu {
  width: 100%;
  margin: auto;
  background-color: hsl(0deg, 0%, 96%);
  padding-bottom: 5rem;
  border-radius: 6rem 6rem 0 0;
  position: relative;
  z-index: 1;
}
.full-menu__nameicon-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
}
.full-menu__name {
  font-family: "Shrikhand", cursive;
  font-weight: bolder;
  font-style: italic;
  margin: 4rem 0;
}
.full-menu__coeur {
  font-size: 2.8rem;
  position: absolute;
  bottom: 0.7rem;
  right: 2rem;
  margin: 4rem 0;
}
.full-menu__coeur:hover {
  cursor: pointer;
}
.full-menu__coeur:hover .fa-grad {
  transform: scale(1);
}
.full-menu__coeur .fa-grad {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, hsl(267deg, 66%, 60%), hsl(317deg, 100%, 74%));
  /*transform-origin: bottom;*/
  transform: scale(0);
  transition: transform 500ms ease-in-out;
}
.full-menu__bouton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  display: block;
  border-radius: 2rem;
  padding: 1rem;
  width: 28rem;
  height: 5rem;
  line-height: 3rem;
  margin: 5rem auto;
  transition: all 500ms;
}
.full-menu__bouton:hover {
  background: linear-gradient(to bottom right, #ffade8, #ad80e5);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5);
}

.menu-category__name {
  font-weight: normal;
  color: hsl(0deg, 0%, 25%);
  width: 90%;
  margin: 0 auto 3rem auto;
  position: relative;
}
.menu-category__name:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 0.1rem;
  width: 5rem;
  border-bottom: 0.4rem solid hsl(165deg, 56%, 74%);
}
@media screen and (min-width: 1024px) {
  .menu-category__name {
    width: 100%;
  }
}
.menu-category__button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: hsl(0deg, 0%, 100%);
  width: 90%;
  margin: 0 auto 2rem auto;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
}
.menu-category__button__description {
  width: 80%;
}
.menu-category__button__title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 0 1rem;
}
.menu-category__button__subtitle {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0.5rem 0 1rem 1rem;
}
.menu-category__button__price-wrp {
  width: 20%;
  position: relative;
}
.menu-category__button__price {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 2rem 1rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu-category__button::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  border-radius: 0 2rem 2rem 0;
  background-color: hsl(165deg, 56%, 74%);
  z-index: -1;
  transition: width 0.3s ease-out, opacity 0.1s linear;
  opacity: 0;
}
.menu-category__button:hover {
  cursor: pointer;
}
.menu-category__button:hover .testcheck {
  transform: rotate(360deg);
  opacity: 1;
}
.menu-category__button:hover::after {
  width: 20%;
  opacity: 1;
}
.menu-category__button:hover .menu-category__button__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-category__button:hover .menu-category__button__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-category__button:hover .menu-category__button__description {
  width: 60%;
}
@media screen and (min-width: 1024px) {
  .menu-category__button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .menu-category {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-category-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    flex: 1 1 0;
  }
}
.testcheck {
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
  font-size: 3.4rem;
  position: absolute;
  top: calc(50% - 20px);
  right: calc(10% - 17px);
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 700ms ease-in-out, opacity 0.3s linear;
  opacity: 0;
}/*# sourceMappingURL=main.css.map */