$cl-primary: #9356DC;
$cl-secondary: #FF79DA;
$cl-lgt-secondary: #F5EDFF;
$cl-tertiary: #99E2D0;
$cl-bg: #fff;
$cl-bg2: #f6f6f6; //gris clair
$cl-bgtown: #eaeaea; //gris plus sombre
$cl-icn_disabled: #7e7e7e;
$cl-bgfooter: #353535;
$cl-menuname: #404040;
$cl-btn-txt: #fff;
$cl-newtxt: #008766;
$ftsize-h1: 28px;
$ftsize-h2: 20px;
$ftsize-h3: 16px;

@mixin main-font {
    font-family: 'Roboto', sans-serif;
}

@mixin logo-font {
    font-family: 'Shrikhand', cursive;
}

@mixin basic-shadow($offx: 0, $offy: 4px, $blur: 8px, $extend: 0, $rgba: rgba(0, 0, 0, 0.2)) {
    box-shadow: $offx $offy $blur $extend $rgba;
}

.full-page {
    width: 96%;
    margin: auto;
    @include main-font;
}

.logo-wrp {
    @include basic-shadow;
    display: flex;
    position: relative;
    /*padding-bottom: 10px;*/
}

.logo-box {
    width: 50%;
    height: 68px;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/*---------------------------Reservation------------------------------------------*/
.reservation {
    background-color: $cl-bg2;
    padding-bottom: 40px;

    h1 {
        font-size: $ftsize-h1;
    }

    h2 {
        font-size: $ftsize-h2;
        margin: 0px;
    }

    &__ville {
        background-color: $cl-bgtown;
        text-align: center;
        padding: 10px 0px;
        display: flex;
        justify-content: center;

        p {
            margin: 0px;
        }

        .fa-location-dot {
            position: relative;
            left: -20px;
            color: $cl-bgfooter;
        }
    }

    &__texte {
        text-align: center;
        text-align-last: center;
        width: 280px;
        margin: auto;
    }

    &__bouton {
        background: linear-gradient(to bottom right, $cl-secondary, $cl-primary);
        color: $cl-btn-txt;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        width: 260px;
        height: 30px;
        margin: auto;
        transition: all 500ms;
        @include basic-shadow;
        &:hover {
            background: linear-gradient(to bottom right, lighten($cl-secondary, 10%), lighten($cl-primary, 10%));
            @include basic-shadow($offy: 10px, $rgba: rgba(0,0,0,0.5) );
        }
    }
}

/*--------------------------------------------------------------------------------*/

/*---------------------------Navigation-------------------------------------------*/
.nav-accueil {
    padding-bottom: 40px;
    margin-top: 20px;

    h1 {
        font-size: $ftsize-h1;
        width: 90%;
        margin: 0 auto 20px auto;
    }

    h2 {
        font-size: $ftsize-h2;
    }
}

.boutons-wrp {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto 0px auto;
}

.bouton-nav {
    text-decoration: none;
    text-align: center;
    background-color: $cl-bg2;
    color: black;
    display: block;
    width: 100%; //old 330px;
    height: 60px;
    border-radius: 20px;
    margin: 0 auto 20px 0px;
    @include basic-shadow;

    &:hover {
        background-color: $cl-lgt-secondary;

        .bouton-nav__icone {
            color: $cl-primary;
        }
    }

    &__wrp {
        display: flex;
    }

    &__numero {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
        background-color: $cl-primary;
        text-align: center;
        line-height: 30px;
        position: relative;
        left: -15px;
        top: 15px;
    }

    &__icone {
        color: $cl-icn_disabled;
        text-align: center;
        font-size: 24px;
        line-height: 60px;
        position: relative;
        left: 10px;
    }

    &__texte {
        text-align: center;
        position: relative;
        left: 30px;
    }
}

/*--------------------------------------------------------------------------------*/

/*-----------------------Cartes Restaurants---------------------------------------*/
.restau-list {
    background-color: $cl-bg2;
    padding-bottom: 40px;
    padding-top: 40px;

    h1 {
        width: 90%;
        margin: 0px auto 20px auto;
        font-size: $ftsize-h1;
    }
}

.cards-wrp {
    display: flex;
    flex-direction: column;
}

.card-restau {
    display: flex;
    flex-direction: column;
    @include basic-shadow;
    border-radius: 20px;
    width: 90%; //old 360px
    height: 250px;
    margin: 0px auto 20px auto;
    text-decoration: none;
    color: black;

    &__img {
        width: 100%;
        height: 175px;
        border-radius: 20px 20px 0px 0px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }

        .bloc-new {
            position: absolute;
            top: 15px;
            right: 20px;
            background-color: $cl-tertiary;
            padding: 5px 10px 5px 10px;

            h1 {
                margin: 0px;
                font-size: $ftsize-h2;
                color: $cl-newtxt;
            }
        }
    }

    &__legende {
        display: flex;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        background-color: $cl-bg;
        height: 75px;
        position: relative;

        h2 {
            font-size: $ftsize-h2;
            font-weight: bolder;
            margin: 0px;
            padding-top: 10px;
            padding-left: 10px;
        }

        h3 {
            font-size: $ftsize-h3;
            font-weight: normal;
            margin: 0px;
            padding-top: 10px;
            padding-left: 10px;
        }

        .card-txt {
            width: 200px;
        }

        .coeur {
            width: 160px;
            text-align: right;
            font-size: $ftsize-h1;
            line-height: 75px;
            position: absolute;
            right: 20px;
            &:hover .fa-grad {
                transform: scale(1);
            }

            .fa-grad {
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to bottom, $cl-primary, $cl-secondary);
                transform-origin: bottom;
                transform: scale(0);
                transition: transform 300ms ease-in-out;
            }
        }
    }
}

/*--------------------------------------------------------------------------------*/

/*-----------------------------Footer---------------------------------------------*/
.footer {
    background-color: $cl-bgfooter;
    padding-bottom: 10px;
    padding-top: 10px;

    h2 {
        color: white;
        @include logo-font;
        font-size: $ftsize-h2;
        font-weight: bolder;
        width: 90%;
        margin: 0 auto 0 auto;
    }
}

.navfoot {
    width: 90%;
    margin: 0 auto 0 auto;
}

.foot-items {
    list-style-type: none;
    padding: 0px;

    p {
        margin: 0;
    }

    span {
        margin-right: 10px;
    }

    &__link {
        text-decoration: none;
        color: white;
        display: block;
        font-size: $ftsize-h3;
        font-weight: normal;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

/*-----------------------------Footer---------------------------------------------*/

/*----------------------------------------------------------------------------------/
/                              Menus                                                /
/----------------------------------------------------------------------------------*/

.header__back {
    position: absolute;
    font-size: $ftsize-h1;
    top: 20px;
    left: 30px;
    text-decoration: none;
    color: black;
}

.img-restau {
	width: 100%;
	height: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: top;
        transform: scaleY(1.2);
        z-index: -1;
    }
}

.full-menu {
	width: 100%;
	margin: auto;
	background-color: $cl-bg2;
	padding-bottom: 50px;
	border-radius: 60px 60px 0px 0px;
	position: relative;
	z-index: 1;
    &__nameicon-wrapper {
        display: flex;
        width: 90%;
        margin: 0 auto 0 auto;
        position: relative;
    }
    &__name {
        @include logo-font;
        font-size: $ftsize-h1;
        font-weight: bolder;
        font-style: italic;
        margin: 40px 0px;
    }
    &__coeur {
        width: 47px;
        height: 47px;
        font-size: $ftsize-h1;
        line-height: 47px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 40px 0px;
        &:hover .fa-grad {
            transform: scale(1);
        }
        .fa-grad {
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to bottom, $cl-primary, $cl-secondary);
            transform-origin: bottom;
            transform: scale(0);
            transition: transform 300ms ease-in-out;
        }
    }
    &__bouton {
        background: linear-gradient(to bottom right, $cl-secondary, $cl-primary);
        color: $cl-btn-txt;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        width: 260px;
        height: 30px;
        margin: 50px auto 50px auto;
        transition: all 500ms;
        @include basic-shadow;
        h2 {
            font-size: $ftsize-h2;
            margin: 0px;
        }
        &:hover {
            background: linear-gradient(to bottom right, lighten($cl-secondary, 10%), lighten($cl-primary, 10%));
            @include basic-shadow($offy: 10px, $rgba: rgba(0,0,0,0.5) );
        }
    }
}

.menu-category {
    &__name {
        font-size: $ftsize-h2;
        font-weight: normal;
        color: $cl-menuname;
        width: 90%;
        margin : 0px auto 30px auto;
        position : relative;
        &:before {
            content : "";
            position: absolute;
            left    : 0;
            bottom  : -10px;
            height  : 1px;
            width   : 50px;
            border-bottom: 4px solid $cl-tertiary;
        }
    }
    &__button {
        display: flex;
        background-color: white;
        width: 90%;
        margin : 0px auto 20px auto;
        border-radius: 20px;
        @include basic-shadow;
        position: relative;
        z-index: 1;
        &__description {
            width: 80%;
        }
        &__title {
            font-size: $ftsize-h2;
            font-weight: bold;
            margin: 0px;
            padding-top: 10px;
            padding-left: 10px;
        }
        &__subtitle {
            font-size: $ftsize-h3;
            font-weight: normal;
            margin: 0px;
            padding-top: 5px;
            padding-bottom: 10px;
            padding-left: 10px;
        }
        &__price-wrp {
            width: 20%;
            position: relative;
        }
        &__price {
            font-size: $ftsize-h3;
            font-weight: bold;
            margin: 0px;
            padding-bottom: 10px;
            padding-right: 20px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            width: 0%;
            border-radius: 0px 20px 20px 0px;
            background-color: $cl-tertiary;
            z-index: -1;
            transition: width 0.3s ease-out, opacity 0.1s linear;
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            .testcheck {
                transform: rotate(720deg);
                opacity: 1;
                right: 9%;
            }
            &::after {
                width: 20%;
                opacity: 1;
            }
            .menu-category__button__description {
                width: 60%;
            }
        }
    }
}

.testcheck {
    color: $cl-btn-txt;
	background-color: transparent;
	font-size: 34px;
	position: absolute;
	right: -200px;
    top: 17px;
	z-index: 1;
	transform: rotate(0deg);
	transition: transform 2s ease-out, opacity 0.3s linear, left 0.3s linear;
	opacity: 0
}

/*-----------------------------Spinner---------------------------------------------*/
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes cache {
    0% {visibility: hidden;}
    100% {visibility: visible;}
}

.spinner {
    @include logo-font;
    font-size: $ftsize-h2;
    font-weight: bolder;
    color: $cl-btn-txt;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $cl-tertiary;
    border-bottom: 16px solid $cl-tertiary;
    border-left: 16px solid #c3eee3;
    border-right: 16px solid #c3eee3;
    background: radial-gradient($cl-secondary, $cl-primary);
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
    animation: spin 1500ms linear 2, cache 0s 3000ms linear reverse both;
}

.full-page.hidethis {
    animation: cache 0s 3000ms linear 1 both;
}