$medium-purple: hsla(267, 66%, 60%, 1); //#9356dc
$blush-pink: hsla(317, 100%, 74%, 1); //#ff79da
$blue-chalk: hsla(267, 100%, 96%, 1); //#f5edff
$morning-glory: hsla(165, 56%, 74%, 1); //#99e2d0
$white: hsla(0, 0%, 100%, 1); //#fff
$black: hsla(0, 0%, 0%, 1); //#000
$wild-sand: hsla(0, 0%, 96%, 1); //#f6f6f6
$gallery: hsla(0, 0%, 92%, 1); //#eaeaea
$gray: hsla(0, 0%, 49%, 1); //#7e7e7e
$mine-shaft: hsla(0, 0%, 21%, 1); //#353535
$tundora: hsla(0, 0%, 25%, 1); //#404040
$deep-sea: hsla(165, 100%, 26%, 1); //#008766
$cruise: hsla(165, 56%, 85%, 1); //#c3eee3

$cl-primary: $medium-purple;
$cl-secondary: $blush-pink;
$cl-lgt-secondary: $blue-chalk;
$cl-tertiary: $morning-glory;
$cl-bg: $white;
$cl-bg2: $wild-sand;
$cl-bgtown: $gallery;
$cl-icn_disabled: $gray;
$cl-bgfooter: $mine-shaft;
$cl-menuname: $tundora;
$cl-btn-txt: $white;
$cl-newtxt: $deep-sea;
$cl-spin-secondary: $cruise;

$ftsize-h1: 2.8rem;
$ftsize-h2: 2rem;
$ftsize-h3: 1.6rem;
$ftsize-check : 3.4rem;
$ftsize-h1xs: 2rem;
$ftsize-h2xs: 1.6rem;
$ftsize-h3xs: 1.4rem;

$xsmall-width: 380px;
$tablet-width: 768px;
$desktop-width: 1024px;

$max-slidings: 14;