@keyframes slidingmenus {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.sliding-menu {
    transform: translateY(100vh);
    opacity: 0;
    animation: slidingmenus 2000ms 0s ease-out forwards 1;

    @for $i from 1 through $max-slidings {
        &--#{$i} {
            animation-delay: 200ms * $i - 200ms;
        }

    }
}